<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dullwolf.dao.MyOSUDao" >
  <resultMap id="BaseResultMap" type="com.dullwolf.model.MyOSU" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="pp" property="pp" jdbcType="DOUBLE" />
    <result column="acc" property="acc" jdbcType="DOUBLE" />
    <result column="pc" property="pc" jdbcType="INTEGER" />
    <result column="tth" property="tth" jdbcType="INTEGER" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
    <result column="rankscore" property="rankscore" jdbcType="VARCHAR" />
    <result column="mode" property="mode" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, username, level, pp, acc, pc, tth, rank, rankscore, mode, create_time,
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from osu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from osu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dullwolf.model.MyOSU" >
    insert into osu (id, user_id, username,
    level, pp, acc, pc,
    tth, rank, rankscore,
    mode, create_time, update_time
    )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},
    #{level,jdbcType=INTEGER}, #{pp,jdbcType=DOUBLE}, #{acc,jdbcType=DOUBLE}, #{pc,jdbcType=INTEGER},
    #{tth,jdbcType=INTEGER}, #{rank,jdbcType=INTEGER}, #{rankscore,jdbcType=VARCHAR},
    #{mode,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.dullwolf.model.MyOSU" >
    insert into osu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="pp != null" >
        pp,
      </if>
      <if test="acc != null" >
        acc,
      </if>
      <if test="pc != null" >
        pc,
      </if>
      <if test="tth != null" >
        tth,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="rankscore != null" >
        rankscore,
      </if>
      <if test="mode != null" >
        mode,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="pp != null" >
        #{pp,jdbcType=DOUBLE},
      </if>
      <if test="acc != null" >
        #{acc,jdbcType=DOUBLE},
      </if>
      <if test="pc != null" >
        #{pc,jdbcType=INTEGER},
      </if>
      <if test="tth != null" >
        #{tth,jdbcType=INTEGER},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="rankscore != null" >
        #{rankscore,jdbcType=VARCHAR},
      </if>
      <if test="mode != null" >
        #{mode,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dullwolf.model.MyOSU" >
    update osu
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="pp != null" >
        pp = #{pp,jdbcType=DOUBLE},
      </if>
      <if test="acc != null" >
        acc = #{acc,jdbcType=DOUBLE},
      </if>
      <if test="pc != null" >
        pc = #{pc,jdbcType=INTEGER},
      </if>
      <if test="tth != null" >
        tth = #{tth,jdbcType=INTEGER},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="rankscore != null" >
        rankscore = #{rankscore,jdbcType=VARCHAR},
      </if>
      <if test="mode != null" >
        mode = #{mode,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dullwolf.model.MyOSU" >
    update osu
    set user_id = #{userId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      pp = #{pp,jdbcType=DOUBLE},
      acc = #{acc,jdbcType=DOUBLE},
      pc = #{pc,jdbcType=INTEGER},
      tth = #{tth,jdbcType=INTEGER},
      rank = #{rank,jdbcType=INTEGER},
      rankscore = #{rankscore,jdbcType=VARCHAR},
      mode = #{mode,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectIdByUserId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    SELECT
    o.id
    FROM osu o
    WHERE o.user_id = #{userId,jdbcType=INTEGER} AND o.mode = #{mode,jdbcType=INTEGER}
  </select>

  <select id="selAllOSUInfo" resultType="java.util.Map" >
    SELECT
    o.id,
    o.`mode`,
    o.user_id AS userId
    FROM osu o
  </select>
</mapper>